#portfolio_splash {
    max-width: none;
    width: 100%;
    height: auto;
    background: url(../baggrund.png) no-repeat fixed top;
}

#portfolio_splash .section_wrapper {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 200px;
    color: #eba31b;
}

img {
    width: 70%;
    padding-top: 40px;
}




/*----------indholdet -------------*/

#portfolio_indhold .section_wrapper {
    margin-bottom: 140px;
    margin-top: 40px;
    text-align: center;
}

#portfolio_indhold h3 {
    margin: 0;

}

.left_top,
.right_top,
.left_bottom,
.right_bottom {
    margin-top: 30px;
}





@media only screen and (min-width: 600px) {


    nav {
        background-color: #ffff;
    }

    #portfolio_splash {
        height: auto;
    }

    #portfolio_splash .section_wrapper {
        padding-bottom: 150px;
        padding-top: 300px;
    }

    /*----------indholdet -------------*/

    #portfolio_indhold .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 50px;
    }

}





/*
#portfolio_indhold .left_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio_indhold .right_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio_indhold .left_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio_indhold .right_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/



/*
#portfolio_indhold .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 90px;
}


#portfolio_indhold .col_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

#portfolio_indhold .col_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}


#portfolio_indhold .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#portfolio_indhold .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*/
